<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InserirImagensNoBD.Properties.Settings.BDPRII17188ConnectionString"
            connectionString="Data Source=regulus;Initial Catalog=BDPRII17188;Persist Security Info=True;User ID=bdprii17188;Password=matemagika"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>